{% extends 'core/base.html' %} {% block main %}
<h2>Home</h2>

<h1>Eventos</h1>

<select id="tipo-filter">
  <option value="">Todos</option>
</select>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Título</th>
      <th>Descripción</th>
      <th>Fecha de Inicio</th>
      <th>Tipo</th>
    </tr>
  </thead>
  <tbody id="eventos-table">
    <!-- data will be inserted here -->
  </tbody>
</table>

<script>
  // Get the table body element
  const tableBody = document.querySelector("#eventos-table");
  const tipoFilterSelect = document.getElementById("tipo-filter"); 

  fetch("/api/fusion/")
    .then((response) => response.json())
    .then((data) => {

      data.fusion.sort((a, b) => new Date(a.date) - new Date(b.date));

      data.fusion.forEach((item) => {
        const row = document.createElement("tr");
        row.innerHTML = `
          <td>${item.name}</td>
          <td>${item.description}</td>
          <td>${item.date}</td>
          <td>${
            item.primary_type ||
            (Array.isArray(item.type) ? item.type[0] : item.type)
          }</td>
        `;
        tableBody.appendChild(row);
      });

      // Populate the filter select element
      const tipos = [];
      data.fusion.forEach((item) => {
        if (item.event_type === "evento") {
          tipos.push(item.type);
        } else {
          tipos.push("Feriado");
        }
      });
      const uniqueTipos = [...new Set(tipos)];
      uniqueTipos.forEach((tipo) => {
        const option = document.createElement("option");
        option.value = tipo;
        option.text = tipo;
        tipoFilterSelect.appendChild(option);
      });

      tipoFilterSelect.addEventListener("change", function () {
        const selectedTipoId = this.value;
        const rows = tableBody.rows;

        // Hide all rows initially
        for (let i = 0; i < rows.length; i++) {
          rows[i].style.display = "none";
        }

        // Show only the rows that match the selected tipo
        data.fusion.forEach((evento, index) => {
          const tipo =
            evento.primary_type ||
            (Array.isArray(evento.type) ? evento.type[0] : evento.type);
          if (
            selectedTipoId === "" ||
            (selectedTipoId === "Feriado" && evento.event_type !== "evento") ||
            tipo === selectedTipoId
          ) {
            const row = tableBody.rows[index];
            row.style.display = "";
          }
        });
      });
    });
</script>

{% endblock %}
