{% extends 'core/base.html' %} {% block main %}

    <div id="login-container">
        <h2>Iniciar sesión</h2>

        <!-- Mostrar mensajes de error si existen -->
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Iniciar Sesión</button>
        </form>
    </div>
    {% endblock %}
